body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68B604;
}

hr.small {
	margin: 5px 0;
}

.formtable-header {
}

.formtable-header .pagination, .formtable-header .form-inline {
	margin: 5px 0;
}

.formtable-header .pagination > li > a, .formtable-header .pagination > li > span {
	padding: 8px 14px;
}

.formtable-header .leadform fieldset {
	border: 1px solid #DDD;
	padding: 5px;
}

.formtable-header .form-inline fieldset {
	display: inline-block;
}

.formtable-header .form-group-daterange {
	background: #FFF;
	cursor: pointer;
	padding: 2px 5px;
	border: 1px solid #CCC;
	width: 100%;
	border-radius: 4px;
	height: 36px;
}

.formtable-header .form-group-daterange .glyphicon {
	vertical-align: middle;
}

.formtable-header .form-control-daterange input.form-control {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.form-control-daterange input.form-control {
	height: 30px;
	font-size: 9pt;
}

form.leadform #submitbutton {
	font-size: 10pt;
	padding: 4px 10px;
	height: 36px;
}

#leadstable, .inline-table {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
}

#leadstable td, .inline-table td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#leadstable .lead\.id, #leadstable .submitted {
	width: 10%;
}

#leadstable .form\.source {
	width: 25%;
}

#leadstable .lastresponse {
	width: 25%;
}

#leadstable .timecreated, #leadstable .actions {
	width: 15%;
}

.btn-success {
	background-color: #57A900;
	background-image: -moz-linear-gradient(top, #70D900, #57A900);
	background-image: -ms-linear-gradient(top, #70D900, #57A900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
	background-image: -webkit-linear-gradient(top, #70D900, #57A900);
	background-image: -o-linear-gradient(top, #70D900, #57A900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	background-color: #57A900;
}

.btn-success:active, .btn-success.active {
	background-color: #57A900;
}

div.container a.brand {
	background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}

.navbar-brand > img {
	display: inline;
}

a.sort {
	display: block;
	text-decoration: none;
}

.sort.selected .glyphicon {
	visibility: visible;
}

.sort .glyphicon {
	top: 0;
	margin-left: 5px;
	visibility: hidden;
	font: normal 7pt 'Glyphicons Halflings';
	color: #444;
}

.sort .glyphicon.desc:before {
	content: "\e252";
}

.sort .glyphicon.asc:before {
	content: "\e253";
}

.sort:hover .glyphicon {
	visibility: visible;
}

.sort:hover .glyphicon.desc:before {
	content: "\e253";
}

.sort:hover .glyphicon.asc:before {
	content: "\e252";
}

.action-index.controller-error .breadcrumb {
	display: none;
}

.action-index.controller-error > .container .row.content .col-md-12 {
	background-color: #D29656;
	width: 100%;
	min-height: 200px;
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90,
		Color='#000000');
}

.action-index.controller-error h1 {
	display: block;
	line-height: 120px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 8em;
	text-transform: uppercase;
	margin-top: 6px;
	letter-spacing: -2px;
	font-family: 'Arial', cursive;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.action-index.controller-error .desc {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 24px;
	line-height: 34px;
	color: #CCCCCC;
	padding-bottom: 10px;
	padding-top: 30px;
	max-width: 600px;
}

.formtable-header .leadform .has-error ul {
	display: none;
}

.content-row {
	padding: 30px;
}

.content-row .table {
	margin-left: 30px;
}

.navbar-nav > li > span.label {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	font-weight: normal;
	font-size: 11pt;
	padding-right: 0;
	margin-right: 0;
}

.tableform-wrapper {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	padding: 15px;
	display: inline-block;
}

.form-control-daterange .form-control {
	display: inline-block;
}

#leadstable thead th, #leadstable thead th a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#leadimport .fieldset {
	padding: 10px 30px;
	border: 1px solid #DDD;
	margin: 0 0 15px 0;
}

#leadimport .form-group {
	margin: 15px 0;
}

#leadimport .importField .form-group {
	min-height: 150px;
	background: #FBFBFB;
	margin: 15px;
	padding: 15px;
}

#leadimport .required .fieldset legend {
	font-weight: bold;
}

#leadimport .required .fieldset legend:after {
	content: ' *';
}

#leadimport .fieldset legend {
	padding: 0 10px;
	border: none;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	font-size: 95%;
	margin: 0;
}

#leadimport .import-fields > .col-xs-12 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#leadimport .form-group .desc {
	display: block;
	padding-top: 5px;
	font-style: italic;
}

#leadimport select.form-control.match {
	border-color: green;
}

#leadimport select.form-control.custom {
	border-color: orange;
}

#leadimport select.form-control.ignore {
	border-color: red;
}

#leadimport select.form-control.new {
	border-color: blue;
}

#leadimport .form-group .desc.match {
	color: green;
}

#leadimport .form-group .desc.custom {
	color: orange;
}

#leadimport .form-group .desc.ignore {
	color: red;
}

#leadimport .form-group .desc.new {
	color: blue;
}

#leadimport .twitter-typeahead {
	display: block !important;
	margin-bottom: 30px;
}

#leadimport .importField .form-group label {
	min-height: 50px;
}

#leadimport .typeahead-container {
	margin-bottom: 60px;
}

.table-collapse > tbody > tr.accordion-toggle > td {
	cursor: pointer;
}

.table-collapse > tbody > tr.accordion-toggle.invalid > td {
	background: #F45025;
}

.table-collapse > tbody > tr.accordion-toggle:hover > td {
	background: #D6F8DF;
}

.table-collapse .hiddenRow {
	border: none;
}

.table-collapse .hiddenRow > td {
	padding: 0px;
	border: none;
}

.table-collapse .hiddenRow table {
	margin: 0;
}

.pagination > .disabled > span.glyphicon-fast-backward, .pagination > .disabled > span.glyphicon-chevron-left {
	padding-right: 20px;
}

.pagination > .disabled > span.glyphicon-fast-forward, .pagination > .disabled > span.glyphicon-chevron-right {
	padding-right: 20px;
}

.pagination > li > * {
	height: 34px;
}

.table td a.btn.btn-xs {
	padding: 3px 5px 5px 5px;
}

.batch-assign-header {
	margin: 5px 0;
}

.controller-account .formtable-header {
	width: 75%;
}

#accountFilterForm .form-group {
	width: 100%;
	padding-left: 10px;
}

input#accountfilter {
	width: 100%;
}

.nomargin {
	margin: 0 !important;
}

.panel-heading > .table, .panel-heading > .table th {
	margin: 0px;
	border: 0px;
}

.white {
	color: #FFF;
}

.beige {
	color: #EEE;
}

a.underline {
	text-decoration: underline;
}

.form-horizontal #apiSettings .form-group, .form-horizontal #options .form-group, .addremove .form-group {
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal #apiSettings > fieldset, .form-horizontal #options > fieldset, .addremove fieldset fieldset {
	margin: 15px;
	padding-top: 15px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form-horizontal #apiSettings > fieldset, .addremove fieldset fieldset {
	margin: 15px;
	background: #EEE;
	padding-top: 15px;
	border: 1px solid #C5C5C5;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.addremove fieldset fieldset fieldset {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	background: none;
}

.form-horizontal #options > fieldset {
	margin: 15px;
	background: #FFF;
	padding-top: 15px;
	border-bottom: 1px solid #C5C5C5;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.action-edit.controller-api form #options fieldset.local {
	position: absolute;
	visibility: hidden;
}

#accountAPIEntityForm form > .form-group {
	margin: 15px;
}

#accountAPIEntityForm form > .form-group > label {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
}

#accountAPIEntityForm form > .form-group > #accountAPIs {
	float: left;
}

.treataslabel {
	resize: none !important;
	outline: none !important;
	background: #FFF !important;
	border: none;
	box-shadow: none;
}

.padding-medium {
	padding: 15px;
}

#options .activevalue {
	background: #F7F7F7;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

fieldset > .btn.removeSetting {
	position: absolute;
	top: -10px;
	right: -10px;
}

form#pagerform {
	padding: 6px 0;
	background: #EEE;
	width: 200px;
}

form#pagerform .form-group {
	margin: 0;
	padding: 0;
}

form#pagerform SELECT.form-control {
	margin: 0;
	padding: 6px 3px;
}