body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68B604;
}

hr.small {
	margin: 5px 0;
}

.formtable-header {
}

.formtable-header .pagination,
.formtable-header .form-inline {
	margin: 5px 0;
}

.formtable-header .pagination > li > a,
.formtable-header .pagination > li > span {
	padding: 8px 14px;
}

.formtable-header .leadform fieldset {
	border: 1px solid #DDD;
	padding: 5px;
}

.formtable-header .form-inline fieldset {
	display: inline-block;
}

.formtable-header .form-group-daterange {
	background: #FFF;
	cursor: pointer;
	padding: 2px 5px;
	border: 1px solid #CCC;
	width: 100%;
	border-radius: 4px;
	height: 36px;
}

.formtable-header .form-group-daterange .glyphicon {
	vertical-align: middle;
}

.formtable-header .form-control-daterange input.form-control {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.form-control-daterange input.form-control {
	height: 30px;
	font-size: 9pt;
}

form.leadform #submitbutton {
	font-size: 10pt;
	padding: 4px 10px;
	height: 36px;
}

#leadstable,
.inline-table {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
}

#leadstable td,
.inline-table td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.btn-success {
	background-color: #57A900;
	background-image: -moz-linear-gradient(top, #70D900, #57A900);
	background-image: -ms-linear-gradient(top, #70D900, #57A900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
	background-image: -webkit-linear-gradient(top, #70D900, #57A900);
	background-image: -o-linear-gradient(top, #70D900, #57A900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	background-color: #57A900;
}

.btn-success:active,
.btn-success.active {
	background-color: #57A900;
}

div.container a.brand,
div.container-fluid a.brand {
	background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}

.navbar-brand > img {
	display: inline;
}

a.sort {
	display: block;
	text-decoration: none;
}

.sort.selected .glyphicon {
	visibility: visible;
}

.sort .glyphicon {
	top: 0;
	margin-left: 5px;
	visibility: hidden;
	font: normal 7pt 'Glyphicons Halflings';
	color: #444;
}

.sort .glyphicon.desc:before {
	content: "\e252";
}

.sort .glyphicon.asc:before {
	content: "\e253";
}

.sort:hover .glyphicon {
	visibility: visible;
}

.sort:hover .glyphicon.desc:before {
	content: "\e253";
}

.sort:hover .glyphicon.asc:before {
	content: "\e252";
}

.action-index.controller-error .breadcrumb {
	display: none;
}

.action-index.controller-error > .container-fluid .row.content .col-md-12 {
	background-color: #D29656;
	width: 100%;
	min-height: 200px;
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90,
		Color='#000000');
}

.action-index.controller-error h1 {
	display: block;
	line-height: 120px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 8em;
	text-transform: uppercase;
	margin-top: 6px;
	letter-spacing: -2px;
	font-family: 'Arial', cursive;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.action-index.controller-error .desc {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 24px;
	line-height: 34px;
	color: #CCCCCC;
	padding-bottom: 10px;
	padding-top: 30px;
	max-width: 600px;
}

.formtable-header .leadform .has-error ul {
	display: none;
}

.content-row {
	padding: 30px;
}

.content-row .table {
	margin-left: 30px;
}

.navbar-nav > li > span.label {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	font-weight: normal;
	font-size: 11pt;
	padding-right: 0;
	margin-right: 0;
}

.breadcrumb {
	background-color: #DFDFDF;
}

.action-login .table td {
	border: none;
}

.module-zfcuser .tableform-wrapper {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	padding: 15px;
	display: inline-block;
}

.action-login h1 {
	background: url(../img/logo-tmp.png);
	width: 182px;
	height: 106px;
	display: table;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -999px;
}

.action-login form {
	margin: 0 auto;
	display: table;
}

.action-login .panel {
	width: 320px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

.action-login .tableform-wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

.action-login .table {
	margin: 0;
}

.form-control-daterange .form-control {
	display: inline-block;
}

#leadstable thead th,
#leadstable thead th a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#leadstable thead .column-filters th {
	overflow: visible;
	padding-right: 0;
	padding-left: 0;
}

#leadstable thead .column-filters th .leadFilter {
	width: 80%;
	max-width: 80%;
}

#leadstable thead .column-filters .form-group-daterange {
	max-width: 90%;
}

#leadstable .column-filters .form-group-daterange .leadFilter {
	max-width: 100% !important;
	width: 100% !important;
}

#leadstable .column-filters .form-group-daterange .glyphicon {
	display: none;
}

#leadstable .column-filters .form-group-daterange .caret {
	display: none;
}

#leadstable .column-filters .chosen-container-multi .chosen-choices li.search-choice {
	max-width: 70%;
}

#leadstable .column-filters .chosen-container-multi .chosen-choices li.search-choice span {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline-block;
}

.has-error .chosen-container {
	border-color: #A94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-width: 2px;
	border-style: solid;
}

#leadimport .review .row.import-fields,
#leadimport .confirm .row.import-fields {
	position: relative;
}

#leadimport .fieldset {
	padding: 10px 30px;
	border: 1px solid #DDD;
	margin: 0 0 15px 0;
}

#leadimport .form-group {
	margin: 15px 0;
}

#leadimport .importField .form-group {
	min-height: 150px;
	background: #FBFBFB;
	margin: 15px;
	padding: 15px;
}

#leadimport .required .fieldset legend {
	font-weight: bold;
}

#leadimport .required .fieldset legend:after {
	content: ' *';
}

#leadimport .fieldset legend {
	padding: 0 10px;
	border: none;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	font-size: 95%;
	margin: 0;
}

#leadimport .import-fields > .col-xs-12 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#leadimport .import-fields .col-md-12 {
	display: table;
	width: 100%;
}

#leadimport .form-group .desc {
	display: block;
	padding-top: 5px;
	font-style: italic;
}

#leadimport .import-fields .chosen-container-multi .chosen-choices li.search-choice span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 210px;
	display: block;
}

#leadimport .import-fields .importSelect.form-control,
#leadimport .import-fields .importSelect.form-control option {
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#leadimport select.form-control.match {
	border-color: green;
}

#leadimport select.form-control.custom {
	border-color: orange;
}

#leadimport select.form-control.ignore {
	border-color: red;
}

#leadimport select.form-control.new {
	border-color: blue;
}

#leadimport .form-group .desc.match {
	color: green;
}

#leadimport .form-group .desc.custom {
	color: orange;
}

#leadimport .form-group .desc.ignore {
	color: red;
}

#leadimport .form-group .desc.new {
	color: blue;
}

#leadimport .twitter-typeahead {
	display: block !important;
	margin-bottom: 30px;
}

#leadimport .importField .form-group label {
	min-height: 50px;
}

#leadimport .typeahead-container {
	margin-bottom: 60px;
}

#leadimport .panel-heading {
	position: relative;
}

#leadimport #accordion .panel-heading h4:before {
	content: ' ';
	background: #CFCFCF;
	background-image: -webkit-linear-gradient(top, #F5F5F5 0, #CFCFCF 100%);
	background-image: -o-linear-gradient(top, #F5F5F5 0, #CFCFCF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#CFCFCF));
	background-image: linear-gradient(to bottom, #F5F5F5 0, #CFCFCF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
		endColorstr='#ffcfcfcf', GradientType=0);
	background-repeat: repeat-x;
	width: 33%;
	height: 100%;
	max-width: 400px;
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: 3px;
	border-right: 1px solid #CBCBCB;
}

#leadimport .panel-heading h4 a {
	text-align: right;
	position: relative;
	min-height: 22px;
	display: block;
}

#leadimport .panel-heading h4 .score span {
	font-weight: bold;
	color: #F40;
}

#leadimport .panel-heading h4 .score i {
	font-style: italic;
	font-size: 80%;
	font-weight: normal;
	color: #AAA;
	border-bottom: 1px dotted #AAA;
	margin-right: 10px;
}

#leadimport #accordion .panel {
	margin-bottom: 20px;
}

#leadimport #accordion .record {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 30px;
}

#leadimport #accordion .record .name {
	text-transform: uppercase;
	font-size: 80%;
	line-height: 24px;
	text-shadow: 1px 1px 0px rgb(239, 239, 239);
	font-weight: bold;
	color: #656464;
}

#leadimport #accordion .record .score {
	min-width: 110px;
	text-align: left;
	display: inline-block;
}

#leadimport #accordion .panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

#leadimport #accordion .panel-heading a.collapsed:after {
	content: "\e080";
}

#leadimport #accordion .panel-body {
	padding: 0;
}

#leadimport #accordion .panel-footer {
	border-top: 1px solid #DDD;
}

#leadimport #accordion .panel-footer {
	background: #B3D7E3;
}

#leadimport #accordion .panel-footer .validate-record {
	width: 100%;
	display: table;
}

#leadimport #accordion .panel-footer .validate-record label {
	font-size: 120%;
	line-height: 24px;
}

#leadimport #accordion .panel-footer .validate-record .bootstrap-switch {
	float: right;
}

#leadimport #accordion .table {
	margin: 0;
}

#leadimport #accordion .table td,
#leadimport #accordion .table th {
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
	font-size: 80%;
}

#leadimport #accordion .table .duplicate td {
	background: #F4C725;
}

.pagination > .disabled > span.glyphicon-fast-backward,
.pagination > .disabled > span.glyphicon-chevron-left {
	padding-right: 20px;
}

.pagination > .disabled > span.glyphicon-fast-forward,
.pagination > .disabled > span.glyphicon-chevron-right {
	padding-right: 20px;
}

.pagination > li > * {
	height: 34px;
}

.table td a.btn.btn-xs {
	padding: 3px 5px 5px 5px;
}

.controller-account .formtable-header {
	width: 75%;
}

#accountFilterForm .form-group {
	width: 100%;
	padding-left: 10px;
}

input#accountfilter {
	width: 100%;
}

.nomargin {
	margin: 0 !important;
}

.panel-heading > .table,
.panel-heading > .table th {
	margin: 0px;
	border: 0px;
}

.white {
	color: #FFF;
}

.beige {
	color: #EEE;
}

a.underline {
	text-decoration: underline;
}

.form-horizontal #apiSettings .form-group,
.form-horizontal #options .form-group,
.addremove .form-group {
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal .addremove-fieldset .chosen-choices .search-choice {
	max-width: 92%;
}

.form-horizontal #apiSettings > fieldset,
.form-horizontal #options > fieldset,
.addremove fieldset fieldset {
	margin: 15px;
	padding-top: 15px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form-horizontal #apiSettings > fieldset,
.addremove fieldset fieldset {
	margin: 15px;
	background: #EEE;
	padding-top: 15px;
	border: 1px solid #C5C5C5;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#reportForm form.form-horizontal {
	display: inline-block;
	padding: 0 15px;
	width: 100%;
	clear: both;
}

.collection-fieldset {
	margin-left: 15px;
	margin-right: 15px;
}

.col-centered {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.values-fieldset:before {
	content: '';
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #FFF;
	width: 100%;
	height: 2px;
	margin-bottom: 10px;
}

.values-fieldset .form-group .horizontal {
	float: left;
	height: 29px;
	padding: 6px 12px;
}

.addremove fieldset fieldset fieldset {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0 15px;
	padding-top: 0px;
	background: none;
	position: relative;
}

.addremove fieldset fieldset fieldset fieldset {
	margin: 0;
}

.addremove fieldset fieldset legend + fieldset {
	margin-bottom: 0px;
}

.addremove fieldset fieldset .btn.addnew {
	margin-left: 30px;
	margin-right: 30px;
}

.addremove fieldset fieldset fieldset .form-group {
	border: 1px solid #C5C5C5;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	margin-top: 0px;
	background: #F7F7F7;
}

.addremove fieldset fieldset fieldset .form-group.grouped {
	margin-left: 0;
	margin-right: 15px;
}

.addremove .form-group.has-error > ul:last-child {
	display: none;
}

.addremove .form-group.has-error > label:before {
	content: '* ';
}

.inline-fieldset,
.inline-fieldset fieldset {
	/*display:inline-block;*/
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.inline-fieldset .form-group {
	border: none !important;
	/*position:static !important;*/
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin-bottom: 15px !important;
	margin-top: 0px !important;
	background: transparent !important;
}

.form-horizontal #options > fieldset {
	margin: 15px;
	background: #FFF;
	padding-top: 15px;
	border-bottom: 1px solid #C5C5C5;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.action-edit.controller-api form #options fieldset.local {
	position: absolute;
	visibility: hidden;
}

#accountAPIEntityForm form > .form-group {
	margin: 15px;
}

#accountAPIEntityForm form > .form-group > label {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
}

#accountAPIEntityForm form > .form-group > #accountAPIs {
	float: left;
}

.treataslabel {
	resize: none !important;
	outline: none !important;
	background: #FFF !important;
	border: none;
	box-shadow: none;
}

.padding-medium {
	padding: 15px;
}

#options .activevalue {
	background: #F7F7F7;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.form-collection-wrapper {
	position: relative;
}

fieldset > .btn.removeSetting {
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 10;
}

.form-collection-wrapper > .btn.removeSetting {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
}

form#pagerform {
	padding: 6px 0;
	background: #F7F7F7;
	height: 46px;
	border: 1px solid #C1C1C1;
}

form#pagerform .form-group {
	margin: 0;
	padding: 0;
}

form#pagerform select.form-control {
	margin: 0;
	padding: 6px 3px;
	width: auto;
}

form#pagerform label {
	white-space: nowrap;
	padding-top: 7px;
}

.total-item-count {
	padding: 6px 10px;
	background: #F7F7F7;
	width: 200px;
	border: 1px solid #DDD;
}

.container-fluid > .row > div[class^=col-],
.container-fluid > .row > form > div[class*=col-] {
	padding: 5px 15px;
	border-bottom: 1px solid #DBDBDB;
}

.pager-control .total-item-count {
	height: 46px;
	padding: 10px;
}

.formtable-header .form-filter {
	padding: 0px 10px;
	background: #F7F7F7;
	border: 1px solid #DDD;
	width: 100%;
	display: table;
}

.formtable-header select {
	max-width: 200px;
}

.form-filter #accountfilter {
	width: 200px;
}

.total-item-count * {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.total-item-count label {
	font-weight: normal;
	color: black;
}

.bulk-actions {
	padding: 6px 20px 6px 10px;
	background: #F7F7F7;
	border: 1px solid #DDD;
}

.bulk-actions select {
	height: 31px;
}

.form-filter label.inline {
	padding: 14px 10px 10px;
}

.form-control-group label.inline {
	padding: 14px 20px 6px 10px;
	height: 46px;
}

.btn-disabled {
	color: #000000;
	background-color: #777;
	background-image: -webkit-linear-gradient(top, #777777 0, #444444 100%);
	background-image: -o-linear-gradient(top, #777777 0, #444444 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
	background-image: linear-gradient(to bottom, #777777 0, #444444 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777',
		endColorstr='#444444', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #717171;
}

.sortTable {
	border-spacing: 0 10px !important;
	border-collapse: separate;
}

.sortTable .sortable {
	position: relative;
}

.sortTable .sortable tr,
.sortTable .sortable tr td {
	background-color: transparent;
	border-top: 1px dashed #CCC !important;
	border-bottom: 1px dashed #CCC !important;
}

.sortTable tbody.sortable > tr:hover > td {
	background: #DCF2E7;
}

.sortTable .sortable tr.ui-sortable-helper {
	-webkit-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.75);
	border: 1px solid #555 !important;
	margin: 0;
	display: table;
	width: 90%;
	padding: 0;
	opacity: 0.95;
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	position: absolute;
}

.sortTable .sortable tr td:first-child {
	border-left: 1px dashed #CCC !important;
}

.sortTable .sortable tr td:last-child {
	border-right: 1px dashed #CCC !important;
}

.sortTable .sortable .handle {
	padding: 0;
	position: relative;
	min-width: 18px;
}

.sortTable .sortable .handle .handlebars {
	position: absolute;
	display: inline-block;
	min-width: 45px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
}

.sortTable .sortable .handle .grip {
	display: inline-block;
	/*width:100%;*/
	/*background:#E3E3E3;*/
	position: absolute;
	right: 15%;
	top: 15%;
	bottom: 15%;
	left: 15%;
}

.sortTable .sortable .handle .grip {
	content: '........';
	/*width:10px;*/
	/*height:20px;*/
	/*display:inline-block;*/
	overflow: hidden;
	line-height: 5px;
	padding: 0px 4px;
	cursor: move;
	vertical-align: middle;
	/*margin-top:-0.7em;*/
	margin-right: 0.3em;
	font-size: 12px;
	font-family: sans-serif;
	letter-spacing: 2px;
	color: #CCCCCC;
	text-shadow: 1px 0 1px black;
}

/*.sortTable .sortable .handle .grip::after{content:'.. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..';}*/
.sortTable .sortable .handle .grip {
	background: url(../img/dots_64.png) repeat top left;
	opacity: 0.5;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.sortTable .sortable .handle:hover .grip {
	opacity: 1;
}

.sortable-order {
	width: 30px;
	padding: 3px;
	text-align: center;
	height: 28px;
}

.sortable-order[contentEditable=true] {
	border-bottom: 1px dashed #666;
}

.sortTable .sortable .sortable-order[contentEditable=true]:active,
.sortTable .sortable .sortable-order[contentEditable=true]:focus,
.sortTable .sortable td:hover .sortable-order[contentEditable=true] {
	border: 1px solid #5BC0DE;
}

#questionstable:not(.sortTable) th:not([class*="col-"]),
#questionstable:not(.sortTable) td:not([class*="col-"]) {
	background-color: #FFF !important;
	border: none;
}

.padding-v-med {
	padding-top: 15px;
	padding-bottom: 15px;
}

.level .lvl-0 {
	padding-left: 15px;
}

.level .lvl-1 {
	padding-left: 30px;
}

.level .lvl-2 {
	padding-left: 45px;
}

.level .lvl-3 {
	padding-left: 60px;
}

.level .lvl-4 {
	padding-left: 75px;
}

.level .lvl-5 {
	padding-left: 100px;
}

.level.active.tab-pane {
	padding-left: 15px;
}

.level.lvl-0 .nav-pills {
	background: #EEE;
}

.level.lvl-1 .nav-pills {
	background: #F0F0F0;
}

.level.lvl-2 .nav-pills {
	background: #F9F9F9;
}

.level.lvl-3 .nav-pills {
	background: #FEFEFE;
}

.pbar-wrapper {
	margin: 20px auto 0 auto;
	padding: 0 15px;
	border-top: 1px solid: #eee;
}

.pbar-wrapper .progress {
	text-align: center;
	color: #FF8A10;
}

.pbar-wrapper .progress-bar {
}

.pbar-wrapper .progress-value {
	position: absolute;
	right: 0;
	left: 0;
}

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;
	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor: progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto;
	/* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}

/* Panel with Tabs 
------------------------------*/
.panel.with-nav-tabs .panel-heading {
	padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
	border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
	margin-bottom: -1px;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
	background-color: #DDD;
	border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #FFF;
	border-color: #DDD;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #F5F5F5;
	border-color: #DDD;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #DDD;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #FFF;
	background-color: #555;
}

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #FFF;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #FFF;
	background-color: #3071A9;
	border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428BCA;
	background-color: #FFF;
	border-color: #428BCA;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #428BCA;
	border-color: #3071A9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #FFF;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #3071A9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	background-color: #4A9FE9;
}

/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3C763D;
}

.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3C763D;
	background-color: #D6E9C6;
	border-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3C763D;
	background-color: #FFF;
	border-color: #D6E9C6;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #3C763D;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #D6E9C6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #FFF;
	background-color: #3C763D;
}

/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708F;
}

.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708F;
	background-color: #BCE8F1;
	border-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708F;
	background-color: #FFF;
	border-color: #BCE8F1;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #31708F;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #BCE8F1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #FFF;
	background-color: #31708F;
}

/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8A6D3B;
}

.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8A6D3B;
	background-color: #FAEBCC;
	border-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8A6D3B;
	background-color: #FFF;
	border-color: #FAEBCC;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #8A6D3B;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #FAEBCC;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #FFF;
	background-color: #8A6D3B;
}

/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #A94442;
}

.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #A94442;
	background-color: #EBCCD1;
	border-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #A94442;
	background-color: #FFF;
	border-color: #EBCCD1;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #F2DEDE;
	/* bg color */
	border-color: #EBCCD1;
	/* border color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #A94442;
	/* normal text color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #EBCCD1;
	/* hover bg color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #FFF;
	/* active text color */
	background-color: #A94442;
	/* active bg color */
}

.form-control.has-chosen {
	height: 30px;
}

.form-group-slider .slider.slider-horizontal {
	width: 100%;
}

/*Lead Search 
----------------------------- */
.panel-heading .clickable {
	margin-top: -20px;
	font-size: 15px;
}

.clickable {
	cursor: pointer;
}

.form-horizontal .form-panel .row > .form-group {
	margin-left: 0;
	margin-right: 0;
}

/* Flexbox Styles 
----------------------------- */
.row-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

.row-flex > div[class*='col-'] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
	flex: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.row-flex > div[class*='col-'] {
	margin: -0.2px;
	/* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] {
	margin: -0.2px;
	/* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div {
	width: 100%;
}

.row-flex > div[class*='col-'] div {
	width: 100%;
}

.flex-col {
	display: flex;
	display: -webkit-flex;
	flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
	-webkit-flex: 2;
	flex: 2;
}

/* Newer Flexbox Styles 
-----------------------------------*/
.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.flex-item:nth-child(1) {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.flex-item:nth-child(2) {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.flex-item:nth-child(3) {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/
@ -moz-document url-prefix () {
	.flex-container {
		width: 100%;
		-moz-box-sizing: border-box;
	}
}

/*Twitter TypeAhead
-----------------------------------*/
input.typeahead {
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 98%;
}

input.typeahead.loading {
	background-image: url(../img/ajax-loader.gif);
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
	color: #FFFFFF;
	text-decoration: none;
	outline: 0;
	background-color: #337AB7;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.input-group.input-group-sm span.twitter-typeahead .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

span.twitter-typeahead {
	width: 100%;
}

.input-group span.twitter-typeahead {
	display: block !important;
	height: 34px;
}

.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}

.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
	border-radius: 0;
}

.input-group span.twitter-typeahead:first-child .form-control {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group span.twitter-typeahead:last-child .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.input-group.input-group-sm span.twitter-typeahead {
	height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead {
	height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 46px !important;
}
