<?php
// config/autoload/doctrine.development.php
return array(
		'doctrine' => array(
				'connection' => array(
						'orm_default' => array(
								'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
								'params' => array(
										'user' => 'username',
										'password' => 'password',
										'dbname' => 'dbname'
								)
						)
				),
				'configuration' => array(
						'orm_default' => array(
								'metadata_cache' => 'redis',
								'query_cache' => 'redis',
								'result_cache' => 'redis',
								'hydration_cache' => 'redis',
								'second_level_cache' => array(
										'enabled' => true,
										'default_lifetime' => 200,
										'default_lock_lifetime' => 500,
										'file_lock_region_directory' => __DIR__ .
												 '/../../data/filelock',
												'regions' => array(
														'Lead\Cache\Lead' => array(
																'lifetime' => 800,
																'lock_lifetime' => 1000
														)
												)
								)
						)
				),
				'cache' => array(
						'redis' => array(
								'instance' => 'doctrine.cache.redis'
						)
				)
		)
);