<?php
// config/autoload/doctrine.global.php
return array(
	'doctrine' => array(
		'connection' => array(
				'orm_default' => array(
						'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
						'params' => array(
								'host' => 'localhost',
								'port' => '3306',
						)
				)
		),
        'configuration' => array(
            'orm_default' => array(
                'metadata_cache'    => 'redis',
                'query_cache'       => 'redis',
                'result_cache'      => 'redis',
				'hydration_cache' => 'redis',
				'string_functions' => array (
						'FIELD' => 'DoctrineExtensions\Query\Mysql\Field',
						'REGEXP' => 'DoctrineExtensions\Query\Mysql\Regexp' 
				), 
            )
        ),
        'cache' => array(
            'redis'     => array(
                'instance' => 'doctrine.cache.redis',
            ),
        ),
	)
);