<?php
// config/autoload/doctrine.development.php
return array(
		'doctrine' => array(
				'connection' => array(
						'orm_default' => array(
								'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
								'params' => array(
										'user' => 'username',
										'password' => 'password'
								)
						)
				)
		)
);