<?php
return array(
		'User' => array(
				'db' => array(
						'dsn' => 'mysql:dbname=dbname;hostname=localhost',
						'username' => 'dbuser',
						'password' => 'password'
				),
				'session' => array(
						'use_cookies' => true,
						'cookie_httponly' => true,
						'gc_maxlifetime' => 2419200,
						'cookie_lifetime' => 2419200
				),
				'gapi' => array(
					"DEVELOPER_KEY": "Key for server applications" > "API KEY"
					"CLIENT_ID": "Client ID for web application" > "CLIENT ID"
					"CLIENT_SECRET": "Client ID for web application" > "CLIENT SECRET"
					"CALLBACK": The callback URI you defined					
				)
		)
);